{% extends "1base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!!!
</h1>
<body>

    <div class='container-fluid'>
        <div class="row text-white p-3" style="background-color: #563d7c;">
            <h1 class="ml-5">Sistema de administracion de empleados </h1>

        </div>
        <br>

        <div class="row">
            <div class="col-9 text-uppercase">
                Total de personas: {{total_empleados}}
            </div>

            <div class="col-3">
                <a href="agregar">Agregar Empleado</a>
            </div>
        </div>
        <br>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Legajo</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados%}
                <tr>

                    <td scope="row">{{empleado.legajo}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.dni}}</td>
                    <td>{{empleado.domicilio}}</td>
                    <th><a href="ver/{{empleado.legajo}}">Ver</a></th>
                    <th><a href="editar/{{empleado.legajo}}">Editar</a></th>
                    <th><a href="eliminar/{{empleado.legajo}}">Eliminar</a></th>
                    <th><a href="upload/{{empleado.legajo}}">Agregar Foto</a></th>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
{% endblock %}