<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ver Formacion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon"
        href="https://cdn3.iconfinder.com/data/icons/family-member-flat-happy-family-day/512/Uncle-256.png"
        type="image/x-icon">

</head>

<body>
    <div class="container-fluid">
        <div class="row text-white p-3" style="background-color: #563d7c;">
            <h1 class="ml-5 col-10">Ver Formacion </h1>
            <div class="col-1 text-white">
                <a href="{{url_for('listadoDeFormaciones')}}" style="text-decoration: none; color:white">
                    Atras
                </a>
            </div>
        </div>



        <div class="container">
            <div class="row" style="font-weight: 600;">
                <div class="col-6">Formacion: </div>
                <div class="col-6">{{formacion.titulo}}</div>
            </div>


            <div class="row" style="font-weight: 600;">
                <div class="col-6">Descripcion:</div>
                <div class="col-6">{{formacion.descripcion}}</div>
            </div>




        </div>
        <a href="{{url_for('listadoDeFormaciones')}}">Rregresar al listado de formaciones</a>

    </div>


</body>

</html>